* {
    font-family: 'Raleway', sans-serif;
    color:white;
}

body {
    background-color: #0f0f12;
}
#panels {
    /*overflow: hidden;*/
    border-radius: 5px 0 0 5px;
    width: 90%;
    max-width: 1200px;
    height: 450px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background: #18181d;
    border-right: 2px solid crimson;
}

#panels .links {
    color: #fff;
    display:inline-block;
}

#panels .links * {
    width:100%;
}


#panels .title {
    width: 30%;
    height: 100%;
    right: 100%;
    background: #fff url("https://startpage.metaphoric.dev/src/img/bg-1.gif") repeat left;
    transition: all .6s;
    animation: scroll 25s ease-in-out infinite;
    display:inline-block;
}
@keyframes scroll {
    50% {
        background-position-x: -240px;
    }
}