/* ---Homepage Stuff--- */

/* Background */
#homeBody{
  background-image: url("cool-texture.jpg");
  background-size: cover;
}

/*Title text*/
#titleText{
  margin-top: .5vw;
  margin-left: 10vw;
  font-size: 5em;
  margin-bottom: 0;
}

/* Slogan */
#sloganText{
  margin-left: 10vw;
}

/* Photos of projects */
.photoProject {
  width: 30vw;
  height: 20vw;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  border-radius: 2px;
}

/* Photos of us as people */
.photoPeople {
  width: 20vw;
  height: 20vw;
  margin-left: 6%;
  display: inline-block;
  border-radius: 10px;
}

/* The name text div */
.name {
  height: 15vw;
  width: 10%;
  margin-top: 9vw;
  margin-bottom: 9vw;
  margin-left: 10vw;
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
}

.name a {
  font-size: 2em;
  margin: auto;
  margin-top: 7vw;
  text-align: center;
}

/* ---------Russell's Resume Stuff---------*/

body {
  font-family: Arial, Helvetica, sans-serif; 
}

body {
  font-family: Average; 
}

h1 {
  text-align: center; 
  margin: 0;
  padding: 0;
  font-variant: small-caps;
}

/* For Photo */
#russellResumePhoto {
  width: 13em;
  height: 13em;
  border-radius: 0.2em;
  margin-top: 1em;
  margin-left: 4em;
}

/* For Objective Statement */
#objectiveStatement {
  display: inline-block;
  width: 21em;
}

/*Used here for the section headers*/
h2 {
  display: block;
  margin: 20px 0 5px 0;
  padding: 0;
  padding-bottom: 0.1em;
  font-size: 1.3em;
  border-bottom: 3px dotted black;
}

#contactInfo {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 4px 0 4px 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

#contactInfo li {
  display: inline;
  list-style: none;
  margin: 0 0.25em 0 0.25em;
}

#content {
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3em;
  max-width: 50em;
}

/*This is for the actual activity/school/whatever that I did and it's dates*/
p.specific {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 21em;
}

/*This is for the small text for wordy descriptions*/
p.tiny {
  font-size: small;
  margin-top: 1px;
  margin-bottom: 4px;
}

a:link.email {
  color:black;
}

a:hover.email {
  color:blue;
}


/* James' Resume stuff*/
#statementAndPicture {
  align-content:center;
  text-align: center;
  position: relative;
}

#statementAndPicture p{
  display: inline-block;
  width:21em;
  margin: 10px auto;
  position: relative;
}

#jamesphoto {
  width: 13em;
  height: 13em;
  border-radius: 0.2em;
  margin-top: 1em;
  margin-left: 4em;
}

.alignleft {
/*  float:left;*/
  display: inline-block;
  list-style: none;
}
.alignright {
  float:right;
  font-style:italic;
}

h3 {
  display: inline-block;
  margin-bottom:1%;
}

.nostyle li{
  list-style: none;
}

