@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
    font-family: 'Ubuntu', sans-serif;
    margin:2.5px;
}

:root {
    --night_color1: #2E3440;
    --night_color2: #3B4252;
    --night_color3: #434C5E;
    --night_color4: #4C566A;
    --snow_color1: #D8DEE9;
    --snow_color2: #E5E9F0;
    --snow_color3: #ECEFF4;
    --frost_color1: #8FBCBB;
    --frost_color2: #88C0D0;
    --frost_color3: #81A1C1;
    --frost_color4: #5E81AC;
    --aurora_color1: #BF616A;
    --aurora_color2: #D08770;
    --aurora_color3: #EBCB8B;
    --aurora_color4: #A3BE8C;
    --aurora_color5: #B48EAD;
}

h1, h2, h3, h4 {
    font-family: 'Lora', serif;
}

.top {
    font-size:3em;
    font-family: 'Lora', serif;
    height:50px;
    border-bottom: 2px solid var(--aurora_color2);
    padding: 5px 5px 10px;
}

.hide {
    display:none;
}

.show {
    display:initial;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sidebar {
    background-color: var(--night_color4);
    color: var(--snow_color2);
    box-sizing:border-box;
    padding: 2.5px 5px 5px;
    border-radius:5px;
    float:left;
    border: 1px solid var(--snow_color3);
    width: 200px;
}

.nostyle {
    list-style: none;
}
.Lectures li, .Labs li {
    list-style: none;
    box-sizing:border-box;
    border-radius:5px;
    border: 1px solid transparent;
    cursor:pointer;
    padding:1px;
}


.Lectures li:hover, .Labs li:hover{
    transition: 0.5s all;
    box-sizing:border-box;
    padding:1px;
    border-radius:5px;
    border: 1px solid var(--snow_color2);
    background-color: var(--night_color4);
    color: var(--frost_color1);
    cursor:pointer;
}

.active {
    color: var(--frost_color1);
}

.float-right {
    float:right;
}

#content {
    margin: 2.5% auto auto;
    width:750px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    background-color: #434C5E;
    color: #eceff4;
}

.output {
    margin-left: auto;
    margin-right: auto;
    margin-top:1%;
    width:750px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    background-color: #434C5E;
    color: #eceff4;
}

#content a {
    color: var(--aurora_color4)
}
#content a:visited {
    color: var(--aurora_color3)
}

.top-right {
    right: 1%;
    top: 10%;
    position: fixed;
}

h4 {
    border-bottom: #5E81AC 1px solid;
}

.error {
    color: var(--aurora_color1);
}